[Unit]
Description=BCS Calcaverages

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
#ExecStart=/OLMA/getspec --conf_file=/OLMA/getspec.conf
ExecStart=/OLMA/scripts/Calcaverages.sh &
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
